# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Temp files
temp

# MD Images
images

src

tsconfig.json
tslint.json
.github

*.tar.gz
*.tgz
jest.config.js
tsconfig.build.json
demo
documentation
sonar-project.properties
.eslintrc.js
coverage
.husky
